
.nav{
  background: linear-gradient(to left, #adb8c5,#03192e ); 
  border-bottom:1px solid rgb(8, 172, 82);
  
}
ul{
  list-style: none;
  margin-top: 20px;
}

.user-link {
  text-decoration: none;
  color: white;
  font-size: x-large;
  padding: 12px;
  }

.user-link:hover {
  color: white;
}

#home {
  color: white;
  font-size: x-large;
}

.home:hover {
  color: white;
}

.user-name {
  color: white;
}

ul {
  display: inline-flex;
}

ul li {
  padding:  5px;
  margin-top: 8px;
}
.form-header {
  max-width: 20%;
  margin: auto;
  margin-top: 33px;
}
.icon {
  width: 100%;
  margin-bottom: 10px;
}

.icon i {
  position: absolute;
}

.searchIcon {
  padding: 10px;
  min-width: 50px;
}

.search {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.btn {
  color: white;
}
.btn:hover {
  color: white;
}

.twiceBtn {
  text-decoration: none;
  color: white;
  font-size: large;
}

.twiceBtn:hover {
  color: white;
}

.outBtn {
  color: white;
  background-color: #062b42;
  border: none;
  text-decoration: none;
}

.btn {
  font-size: large;
}

@media (max-width: 990px) {
  ul {
    display: block;
    text-align: center;
  }

  ul li {
    margin: 10px;
  }
  .search{
    width: 150px;
  
  }
  .form-header{
    margin-top: -70px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .user-link {
    text-decoration: none;
    color: white;
  }

  ul li {
    margin: 0px;
    margin-top: 7px;
  }

  .form-header {
   margin-top: 30px;
  }
}
