.container-login {
  text-align: center;
  color: white;
}

.card-login {
  display: inline-block;
}

.gif {
  width: 100%;
}

input {
  width: 20rem;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  text-align: center;
}
