.user-link {
  text-decoration: none;
  font-size: x-large; 
   color: white;
}

.user-link:hover {
  color: rgb(221, 194, 194);

}

#home {
    color: white;
  font-size: x-large;
}

.home:hover {
  color: white;
}

.user-name {
  color: white;
}

ul {
  display: flex;
}

ul li {
  margin-left: 10px;
}

@media (max-width: 996px) {
  ul {
    display: block;
    text-align: center;
  }

  ul li {
    font-size: large;
    margin: 10px;
  }
}
