img:hover {
  opacity: 90%;
  cursor: pointer;
}
.card-list {
  background: #bdc3c7;
  background: linear-gradient(to top, #010c18, #71a1c2);
  box-shadow: 0px 0px 6px 3px #051822;
  color: white;
}

#bt {
  background-color: rgb(194, 194, 194);
}
